<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="Hydra">
         <property
               name="appName"
               value="Hydra">
         </property>
         <property
               name="clearPersistedState"
               value="true">
         </property>
         <property
           name="lifeCycleURI"
           value="bundleclass://com.hydra.project/lifecycle.LifeCycleManager">
         </property>
      </product>
   </extension>


</plugin>
